
body {
  background-color:  LightGray;
}

div {
  border: 1px Solid Chocolate;
}

/*Navigation Section*/

.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
	width: 800px;
	height: 70px;
	margin: 0 auto;
}

.top-navigation .links {
	float: right;
	margin-top: 24px;
}

.top-navigation .links li {
	display: inline-block;
	font-family: 'Roboto', sans-serif; 
	-webkit-font-smoothing: antialiased;
	font-size: 16px; 
	letter-spacing: 0.03em;
	margin-left: 25px;
}

.top-navigation a {
	transition: color 0.2s ease;
	color: #838994; 
	text-decoration: none;
}

.top-navigation a:hover,
.top-navigation a:focus {
	color: #333;
	cursor:pointer;
}

.top-navigation .active {
	 color: #4c5058;
	 font-weight: 500;
}

.logo {
  	height: 70px;
}

.content {
  	padding: 0px 15px;
}



